# Ignoring the following folders
*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
*.map
log.txt
*.sublime-project
*.sublime-workspace
.idea/
.sass-cache/
.versions/
coverage/
bower_components/
dist/
hooks/after_prepare/010_add_platform_class.js
node_modules/
tmp/
temp/
www/build/
$RECYCLE.BIN/

.DS_Store
Thumbs.db

platforms
