# Ignoring the following folders
*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
*.map
log.txt
*.sublime-project
*.sublime-workspace
.idea/
.sass-cache/
.versions/
coverage/
bower_components/
dist/
hooks/after_prepare/010_add_platform_class.js
resources/
node_modules/
tmp/
temp/
typings/
www/build/
$RECYCLE.BIN/
.io-config.json
ionic.config.json
publish-key.pub

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate

platforms
plugins

.travis/travis_rsa.pem
