.home {
  .scroll {
    height: 100%;
  }
}
ion-item #map {
  height: 50% !important;
}
.icon-color {
  color: #753192;
}
.toolbar[paradise] .toolbar-background,
.user-page,
ion-navbar.toolbar {
  min-height: 80px !important;
  background: #1D2B64;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #1D2B64 , #F8CDDA);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #1D2B64 , #F8CDDA);
  background-position: 50% 50%;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

ion-item.item {
  word-wrap: break-word;
}
