<ion-header>
  <ion-navbar class="bar-positive theme" paradise>
    <ion-title align-title="center">Mark-Spot</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="home user-page" has-header="true">
  <ion-row>
    <ion-col width-50>
      <ion-card class="transparent">
        <button class="btn btn-primary btn-margin" (click)="auth.login()" *ngIf="!auth.authenticated()">Log In</button>
      </ion-card>
    </ion-col>
    <ion-col width-50>
      <ion-card>
        <button class="btn btn-primary btn-margin" (click)="auth.logout()" *ngIf="auth.authenticated()">Log Out</button>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
