<ion-header>
    <ion-navbar class="bar-positive theme" paradise>
        <ion-title align-title="center">Mark-Spot</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding class="home user-page" has-header="true" *ngIf="!auth.authenticated()">
    <button block (click)="auth.login()">Login</button>
</ion-content>

<ion-content padding class="home user-page" has-header="true" *ngIf="auth.authenticated()">
    <ion-card [ngStyle]="{'margin-top': '68px'}">
        <ion-item *ngIf="auth.user">
            <ion-avatar item-left>
                <img src="{{ auth.user.picture }}">
            </ion-avatar>
            <h2>{{ auth.user.nickname }}</h2>
            <p>{{ auth.user.email }}</p>
        </ion-item>
        <button block (click)="auth.logout()">Logout</button>
    </ion-card>

</ion-content>
